@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<div class="content">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="~/img/khang.png">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category">CEO / Co-Founder</h6>
                            <h4 class="card-title">Nguyễn Thành Khang</h4>
                            <p class="card-description">
                                First member of this Website
                            </p>
                            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="~/img/tuan.jpg">
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category">CEO / Co-Founder</h6>
                            <h4 class="card-title">Trần Vũ Anh Tuấn</h4>
                            <p class="card-description">
                                First member of this Website
                            </p>
                            <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

