
@{
    ViewData["Title"] = "Licence";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Licence</h4>
                <p class="card-category">Oracle HR Website</p>
            </div>
            <div class="card-body">
                <h4>
                    Chúng tôi xin cam đoan đồ án “WEBSITE QUẢN LÝ NHÂN VIÊN” là công trình nghiên cứu của tập thể nhóm dưới sự hướng dẫn của thầy Võ Hoàng Khang. Các nội dung, kết quả nghiên cứu trong đề tài này là trung thực và chưa công bố dưới bất kỳ hình thức nào trước đây. Những thông tin được tham khảo của các tác giả, cơ quan tổ chức trong quá trình thực hiện đồ án đã được nêu rõ trong phần tài liệu tham khảo.
                </h4>
            </div>
            <div class="card-body">
                <p class="text-danger">
                    Chúng tôi hoàn toàn chịu trách nhiệm về nội dung đồ án của mình.
                </p>
            </div>
        </div>
    </div>
</div>
